*{
    background-color: #FFFBEF;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    overflow: hidden;
}

.button{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20%;
    height: 20%;
    transform: translate(-50%, -50%) ;
    background-color: black;
    border-radius: 100px;
    cursor: pointer;
    padding: 0;
    border: 0;
}

a{
    text-decoration: none;
    font-size: 40px;
    color: white;
    background: none;

}

.animate__animated.animate__bounceIn {
    --animate-duration: 2s;
  }

  